NET "CLK_I" TNM_NET = CLK_I;
TIMESPEC TS_CLK_I = PERIOD "CLK_I" 11 ns HIGH 50%;
NET "clk_IN" TNM_NET = clk_IN;
TIMESPEC TS_clk_IN = PERIOD "clk_IN" 10 ns HIGH 50%;
NET "pri_OUT" OFFSET = OUT 10 ns AFTER "clk_IN";

# -----------------------------------------------------------------------------
# RHINO
# -----------------------------------------------------------------------------
#NET "clk_IN"        LOC = AE15;
#
#NET "rst_IN"        LOC = R8 | PULLDOWN;     # GPIO[0]
#NET "trigger_IN"    LOC = T8 | PULLDOWN;     # GPIO[1]
#NET "bias_x_OUT"    LOC = U5;               # GPIO[2]
#NET "bias_l_OUT"    LOC = T4;               # GPIO[3]
#NET "pol_tx_x_OUT"  LOC = R10;              # GPIO[4]
#NET "pol_tx_l_OUT"  LOC = T9;               # GPIO[5]
#NET "pol_rx_l_OUT"  LOC = P3;               # GPIO[6]
#NET "pri_OUT"       LOC = P1;               # GPIO[7]

# -----------------------------------------------------------------------------
# NEXYS3
# -----------------------------------------------------------------------------
# external:
#NET "clk_IN"         LOC = H3    | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L44N_GCLK20_M3A6, Sch name = JC1

# internal
NET "clk_IN"            LOC = "V10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK

NET "rst_IN"         LOC = T12   | IOSTANDARD = "LVCMOS33" | PULLDOWN;   #Bank = 2, Pin name = IO_L19P, Sch name = JA1
NET "trigger_IN"     LOC = V12   | IOSTANDARD = "LVCMOS33" | PULLDOWN;   #Bank = 2, Pin name = IO_L19N, Sch name = JA2
NET "bias_x_OUT"     LOC = N10   | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L20P, Sch name = JA3
NET "bias_l_OUT"     LOC = P11   | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L20N, Sch name = JA4
NET "pol_tx_x_OUT"   LOC = M10   | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L22P, Sch name = JA7
NET "pol_tx_l_OUT"   LOC = N9    | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L22N, Sch name = JA8
NET "pol_rx_l_OUT"   LOC = U11   | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L23P, Sch name = JA9
NET "pri_OUT"        LOC = V11   | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L23N, Sch name = JA10
