//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 26 16:49:00 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "sys_clk_100MHz_int_p_IN" LOCATE = SITE "B14" LEVEL 1;
COMP "gpio_OUT<2>" LOCATE = SITE "U5" LEVEL 1;
COMP "gpio_OUT<3>" LOCATE = SITE "T4" LEVEL 1;
COMP "gpio_IN<0>" LOCATE = SITE "R8" LEVEL 1;
COMP "gpio_OUT<4>" LOCATE = SITE "R10" LEVEL 1;
COMP "gpio_IN<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "gpio_OUT<5>" LOCATE = SITE "T9" LEVEL 1;
COMP "gpio_OUT<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "gpio_OUT<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "gpio_OUT<8>" LOCATE = SITE "N6" LEVEL 1;
COMP "gpio_OUT<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "led_OUT<0>" LOCATE = SITE "Y3" LEVEL 1;
COMP "led_OUT<1>" LOCATE = SITE "Y1" LEVEL 1;
COMP "led_OUT<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "led_OUT<3>" LOCATE = SITE "W1" LEVEL 1;
COMP "led_OUT<4>" LOCATE = SITE "V3" LEVEL 1;
COMP "led_OUT<5>" LOCATE = SITE "V1" LEVEL 1;
COMP "led_OUT<6>" LOCATE = SITE "U2" LEVEL 1;
COMP "led_OUT<7>" LOCATE = SITE "U1" LEVEL 1;
COMP "gpio_OUT<10>" LOCATE = SITE "P5" LEVEL 1;
COMP "gpio_OUT<11>" LOCATE = SITE "R5" LEVEL 1;
COMP "gpio_OUT<12>" LOCATE = SITE "N8" LEVEL 1;
COMP "gpio_OUT<13>" LOCATE = SITE "N7" LEVEL 1;
COMP "gpio_OUT<14>" LOCATE = SITE "R4" LEVEL 1;
COMP "gpio_OUT<15>" LOCATE = SITE "R3" LEVEL 1;
COMP "sys_clk_100MHz_ext_IN" LOCATE = SITE "AE15" LEVEL 1;
COMP "sys_clk_100MHz_int_n_IN" LOCATE = SITE "A14" LEVEL 1;
TIMEGRP TM_sys_clk = BEL "count_100MHz_0" BEL "count_100MHz_1" BEL
        "count_100MHz_2" BEL "count_100MHz_3" BEL "count_100MHz_4" BEL
        "count_100MHz_5" BEL "count_100MHz_6" BEL "count_100MHz_7" BEL
        "count_100MHz_8" BEL "count_100MHz_9" BEL "count_100MHz_10" BEL
        "count_100MHz_11" BEL "count_100MHz_12" BEL "count_100MHz_13" BEL
        "count_100MHz_14" BEL "count_100MHz_15" BEL "count_100MHz_16" BEL
        "count_100MHz_17" BEL "count_100MHz_18" BEL "count_100MHz_19" BEL
        "count_100MHz_20" BEL "count_100MHz_21" BEL "count_100MHz_22" BEL
        "count_100MHz_23" BEL "count_100MHz_24" BEL "count_100MHz_25" BEL
        "count_100MHz_26" BEL "clk_100MHz_BUFG" BEL "count_100MHz_15_1" BEL
        "count_100MHz_26_1";
TS_sys_clk = PERIOD TIMEGRP "TM_sys_clk" 10 ns HIGH 50%;
SCHEMATIC END;

