# Set I/O standard for processor interface pins
CONFIG VCCAUX  = 3.3;


# Set IO standards for gpmc pins
# i_GPMC_A[10..1]
NET "i_GPMC_A[1]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[2]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[3]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[4]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[5]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[6]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[7]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[8]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[9]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_A[10]" IOSTANDARD = LVCMOS33;

# io_GPMC_D[15..0]
NET "io_GPMC_D[0]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[1]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[2]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[3]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[4]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[5]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[6]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[7]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[8]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[9]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[10]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[11]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[12]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[13]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[14]" IOSTANDARD = LVCMOS33;
NET "io_GPMC_D[15]" IOSTANDARD = LVCMOS33;

# gpmc_clk
NET "i_GPMC_CLK" IOSTANDARD = LVCMOS33;

# i_GPMC_N_CS[6..0] - chip select 1-7
NET "i_GPMC_N_CS[0]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_CS[1]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_CS[2]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_CS[3]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_CS[4]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_CS[5]" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_CS[6]" IOSTANDARD = LVCMOS33;

# gpmc bus control
NET "i_GPMC_N_WE" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_OE" IOSTANDARD = LVCMOS33;
NET "i_GPMC_N_ADV_ALE" IOSTANDARD = LVCMOS33;

# Set location of processor interface pins
NET "i_GPMC_A[1]" LOC = N17;
NET "i_GPMC_A[2]" LOC = N18;
NET "i_GPMC_A[3]" LOC = L23;
NET "i_GPMC_A[4]" LOC = L24;
NET "i_GPMC_A[5]" LOC = N19;
NET "i_GPMC_A[6]" LOC = N20;
NET "i_GPMC_A[7]" LOC = N21;
NET "i_GPMC_A[8]" LOC = N22;
NET "i_GPMC_A[9]" LOC = P17;
NET "i_GPMC_A[10]" LOC = P19;

NET "io_GPMC_D[0]" LOC = N23;
NET "io_GPMC_D[1]" LOC = N24;
NET "io_GPMC_D[2]" LOC = R18;
NET "io_GPMC_D[3]" LOC = R19;
NET "io_GPMC_D[4]" LOC = P21;
NET "io_GPMC_D[5]" LOC = P22;
NET "io_GPMC_D[6]" LOC = R20;
NET "io_GPMC_D[7]" LOC = R21;
NET "io_GPMC_D[8]" LOC = P24;
NET "io_GPMC_D[9]" LOC = P26;
NET "io_GPMC_D[10]" LOC = R23;
NET "io_GPMC_D[11]" LOC = R24;
NET "io_GPMC_D[12]" LOC = T22;
NET "io_GPMC_D[13]" LOC = T23;
NET "io_GPMC_D[14]" LOC = U23;
NET "io_GPMC_D[15]" LOC = R25;

NET "i_GPMC_CLK" LOC = R26;

NET "i_GPMC_N_CS[0]" LOC = V23;
NET "i_GPMC_N_CS[1]" LOC = U25;
NET "i_GPMC_N_CS[2]" LOC = T24;
NET "i_GPMC_N_CS[3]" LOC = T26;
NET "i_GPMC_N_CS[4]" LOC = V24;
NET "i_GPMC_N_CS[5]" LOC = V26;
NET "i_GPMC_N_CS[6]" LOC = W25;

NET "i_GPMC_N_WE" LOC = W26;
NET "i_GPMC_N_OE" LOC = AA25;
NET "i_GPMC_N_ADV_ALE" LOC = AA26;

# Set location of GPIO pins

NET "i_TRIGGER"     LOC = R8; # gpio[0]
NET "o_BIAS_X"      LOC = T8; # gpio[1]
NET "o_BIAS_L"      LOC = U5; # gpio[2]
NET "o_POL_TX_X"    LOC = T4; # gpio[3]
NET "o_POL_TX_L"    LOC = R10; # gpio[4]
NET "o_POL_RX_L"    LOC = T9; # gpio[5]
#NET "o_PRI"         LOC = P3; # gpio[6]
#NET ""              LOC = P1; # gpio[7]
#NET ""              LOC = N6; # gpio[8]
#NET ""              LOC = P6; # gpio[9]
#NET ""              LOC = P5; # gpio[10]
#NET ""              LOC = R5; # gpio[11]
#NET ""              LOC = N8; # gpio[12]
#NET ""              LOC = N7; # gpio[13]
#NET ""              LOC = R4; # gpio[14]
#NET ""              LOC = R3; # gpio[15]

# PRI signal on FMC0

NET "o_PRI" LOC = W10 | SLEW = "FAST"; # fmc0_LA_P[28] J16 P5
NET "o_LOGIC_HIGH" LOC = AA12;  # fmc0_LA_N[19] J1 P40

# Set location of LED pins

#NET "o_LED_RHINO[0]" LOC = Y3;
#NET "o_LED_RHINO[1]" LOC = Y1;
#NET "o_LED_RHINO[2]" LOC = W2;
#NET "o_LED_RHINO[3]" LOC = W1;
#NET "o_LED_RHINO[4]" LOC = V3;
#NET "o_LED_RHINO[5]" LOC = V1;
#NET "o_LED_RHINO[6]" LOC = U2;
#NET "o_LED_RHINO[7]" LOC = U1;

#
## FMC105 LEDs
#
#NET "o_LED_FMC[0]"   LOC = AC5 | IOSTANDARD = LVCMOS25;  # FMC0_LA_P32
#NET "o_LED_FMC[1]"   LOC = AD5 | IOSTANDARD = LVCMOS25;  # FMC0_LA_N32
#NET "o_LED_FMC[2]"   LOC = W8 | IOSTANDARD = LVCMOS25;   # FMC0_LA_P33
#NET "o_LED_FMC[3]"   LOC = W7 | IOSTANDARD = LVCMOS25;   # FMC0_LA_N33

# Set ethernet pins

#NET "GIGE_COL"     LOC = AC2 | IOSTANDARD = LVCMOS25;
#NET "GIGE_CRS"     LOC = AD1 | IOSTANDARD = LVCMOS25;
##NET "GIGE_MDC"     LOC = AC1 | IOSTANDARD = LVCMOS25;
#NET "GIGE_MDIO"    LOC = AE2 | IOSTANDARD = LVCMOS25;
#NET "GIGE_GTX_CLK" LOC = AB5 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_nRESET"  LOC = AA2 | IOSTANDARD = LVCMOS25;

#NET "GIGE_RXD[0]" LOC = W5  | IOSTANDARD = LVCMOS25;
#NET "GIGE_RXD[1]" LOC = U9  | IOSTANDARD = LVCMOS25;
#NET "GIGE_RXD[2]" LOC = U8  | IOSTANDARD = LVCMOS25;
#NET "GIGE_RXD[3]" LOC = U7  | IOSTANDARD = LVCMOS25;
#NET "GIGE_RXD[4]" LOC = T6  | IOSTANDARD = LVCMOS25;
#NET "GIGE_RXD[5]" LOC = AB3 | IOSTANDARD = LVCMOS25;
#NET "GIGE_RXD[6]" LOC = AB1 | IOSTANDARD = LVCMOS25;
#NET "GIGE_RXD[7]" LOC = AD3 | IOSTANDARD = LVCMOS25;
#NET "GIGE_RX_CLK" LOC = W3  | IOSTANDARD = LVCMOS25;
#NET "GIGE_RX_DV"  LOC = U3  | IOSTANDARD = LVCMOS25;
#NET "GIGE_RX_ER"  LOC = V5  | IOSTANDARD = LVCMOS25;

#NET "GIGE_TXD[0]" LOC = AA3 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TXD[1]" LOC = Y6  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TXD[2]" LOC = Y5  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TXD[3]" LOC = AB4 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TXD[4]" LOC = AC3 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TXD[5]" LOC = V7  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TXD[6]" LOC = V6  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TXD[7]" LOC = U4  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TX_CLK" LOC = T1  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TX_EN"  LOC = AC4 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#NET "GIGE_TX_ER"  LOC = AA4 | IOSTANDARD = LVCMOS25 | SLEW = FAST;

# done ethernet

# Define system clock
# From FMC 0
NET "i_CLK_P" LOC = AE15 | DIFF_TERM = TRUE;
NET "i_CLK_N" LOC = AF15 | DIFF_TERM = TRUE;

# Clock constraints

NET "i_GPMC_N_ADV_ALE" CLOCK_DEDICATED_ROUTE = FALSE;

NET "i_CLK_P" TNM_NET = "TM_sys_clk";
NET "i_CLK_N" TNM_NET = "TM_sys_clk";
TIMESPEC "TS_sys_clk" = PERIOD "TM_sys_clk"  10.0  ns HIGH 50 %;

# this is temporarily here because sending clock signal to ILA
PIN "Inst_gpmc_wb/Inst_clk_wiz_v3_6/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
